@tailwind base;

@layer base {
  .workspace-nav {
    @apply flex;
    @apply self-start;
    @apply flex-col;
    @apply rounded-lg;
    @apply shadow-dbm-0;
    @apply overflow-clip;
    @apply w-[230px];
    @apply min-w-[230px];
    @apply rounded-l-none;
    @apply bg-dbm-color-white;
  }

  .workspace-nav-item a {
    @apply flex;
    @apply px-4;
    @apply py-3;
    @apply text-dbm-color-primary-dark;
    @apply text-sm;
    @apply font-medium;
    @apply tracking-dbm-0;
    @apply border-b-dbm-color-white;
    @apply border-b;
  }

  .workspace-nav-item:last-child a {
    @apply border-0;
  }

  .workspace-nav-item a:hover {
    @apply text-dbm-color-secondary;
  }

  .workspace-nav-item-active a {
    @apply font-semibold;
    @apply text-dbm-color-secondary;
    @apply !border-l-3;
    @apply !border-l-dbm-color-secondary;
    @apply bg-dbm-color-5;
  }

  .step-navigator {
    @apply flex;
    @apply items-center;
    @apply gap-[18px];
  }

  .step-navigator-item {
    @apply flex;
    @apply items-center;
    @apply gap-[18px];
  }

  .step-navigator-item:not(:first-child):before {
    @apply content-[''];
  }

  .step-navigator-item:before {
    @apply w-16;
    @apply h-0.5;
    @apply bg-dbm-color-primary;
  }

  .step-navigator-item.inactive:before {
    @apply bg-dbm-color-3;
  }

  .step-navigator-button-inner {
    @apply flex;
    @apply items-center;
    @apply uppercase;
    @apply text-xs;
    @apply font-bold;
    @apply gap-2.5;
  }
}