# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    router.request_context.scheme: 'http'
    asset.request_context.secure: false
    app.default_email: '%env(APP_DEFAULT_EMAIL)%'
    app.url: '%env(APP_URL)%'
    admin_path: '%env(ADMIN_PATH)%'
    env(ADMIN_PATH): admin
services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\Security\TokenProcessor:
        arguments:
            $keyLoader: '@lexik_jwt_authentication.key_loader.raw'
            $cryptoEngine: "openssl"
            $signatureAlgorithm: "HS256"
            $ttl: 3600
            
    App\Security\Validators\ValidatorFactory:
        arguments:
            $validators:
                create_log: '@App\Security\Validators\DatabaseDumpLogsValidator'
                default: '@App\Security\ValidatePermissions'

    app.security.custom_authenticator_token:
        autoconfigure: true
        public: false
        parent: lexik_jwt_authentication.security.guard.jwt_token_authenticator
        class: App\Security\Http\TokenAuthenticator
        arguments:
            $serverRepository: '@App\Repository\ServerRepository'
            $workspaceRepository: '@App\Repository\Workspace\WorkspaceRepository'
            $tokenProcessor: '@App\Security\TokenProcessor'
            $translator: '@translator'
            $url: '@App\Service\Url'
            
    App\Api\FilterByWorkspaceExtension:
        arguments:
            $entityToFilter:
                - 'App\Entity\Database\Database'
                - 'App\Entity\Database\DatabaseDump'
                - 'App\Entity\Server'
                - 'App\Entity\Workspace\Notification'
                - 'App\Entity\Database\DatabaseRuleTemplate'
               # - 'App\Entity\Workspace\UserInvitation'
                - 'App\Entity\Webhook'
            $subEntityToFilter:
                - 'App\Entity\Database\DatabaseRule'
                - 'App\Entity\Database\DatabaseDump'

    App\Controller\Security\AuthTokenController:
        arguments:
            $tokenProcessor: '@App\Security\TokenProcessor'
            $serverRepository: '@App\Repository\ServerRepository'

    # Overridden Core Authenticator
    # It has 3 objects:
    # security.authenticator.manager - abstract
    # security.authenticator.manager.login - for login actions
    # security.authenticator.manager.api - for api actions
    App\Authentication\ApiAuthenticatorManager:
        decorates: security.authenticator.manager.api
        parent: security.authenticator.manager.api

    App\Api\Serializer\DatabaseRuleSerializer:
        arguments: [ '@security.token_storage' ]
        tags:
            - { name: 'serializer.normalizer', priority: 64 }

    App\Service\Mailer:
        arguments:
            $from: '%app.default_email%'

    App\Service\Url:
        arguments:
            $url: '%app.url%'
            
    App\Api\Serializer\Exception\ExceptionNormalizer:
            tags:
                - { name: 'serializer.normalizer', priority: 12 }
    
    App\EventListener\JWTCreatedListener:
        tags:
            - { name: kernel.event_listener, event: lexik_jwt_authentication.on_jwt_created, method: onJWTCreated }
    
    App\EventListener\JWTAuthenticatedListener:
        tags:
            - { name: kernel.event_listener, event: lexik_jwt_authentication.on_jwt_authenticated, method: onJWTAuthenticated }

    App\EventListener\JWTSuccessListener:
        tags:
            - { name: kernel.event_listener, event: lexik_jwt_authentication.on_authentication_success, method: onJWTSuccess }

    App\Service\Database\RuleGenerator\RuleGenerator:
        arguments:
            $patternsListFile: '%kernel.project_dir%/config/rules/generator_patterns.yaml'
            $serviceWordsFile: '%kernel.project_dir%/config/rules/generator_service_words.json'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
