<tr>
    <td class="email-footer">
        <p style="margin:0 0 8px 0;">
            <a href="https://dbvisor.pro/" style="text-decoration:none; color: #ffffff">https://dbvisor.pro/</a>
        </p>
        <p style="margin:0 0 8px 0; color: #ffffff">
             © 2024 dbvisor.pro
        </p>
    </td>
</tr>
