<tr>
    <td class="email-footer">
        <p style="margin:0 0 8px 0;">
            <a href="https://veildb.com/" style="text-decoration:none; color: #ffffff">https://veildb.com/</a>
        </p>
        <p style="margin:0 0 8px 0; color: #ffffff">
             © 2024 veildb.com
        </p>
    </td>
</tr>
