<tr>
    <td class="email-logo-container">
        <a href="https://veildb.com/" style="text-decoration:none;">
            <img src="{{ absolute_url(asset("build/images/main-logo.png")) }}" width="165" alt="Logo" class="email-logo-image" />
        </a>
    </td>
</tr>
